body{
/*background-color: #eeeeee;*/
background: url(fon.jpg) no-repeat center center fixed;
background-size: cover;
}

#current_date_time_block2{
	display: grid;
	grid-area: now;
	font-size: 120%;
	text-align: center;
	margin-top: 10px;
}

#chel{
	display: grid;
	height: 45%;
	width: 45%;
	grid-area: c;
	margin-left: auto;
    /*margin-right: auto;*/
}

#minzdrav{	
	display: grid;
	height: 45%;
	width: 45%;
	grid-area: m;
	/*margin-left: auto;*/
    margin-right: auto
}
.text{
	display: grid;
	font:golos text;
	grid-area: t;
	text-align: center;
	
}
h1{
	font-size: 150%;
}
h2{
	font-size: 150%;
}

#vhod{
	margin-left: auto;
    margin-right: auto;
    background-color: #a64d79;
    color: white;
}

#but{
	grid-area: button;
	background-color: #a64d79;
	width: 500px;
	margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    color: white;
    font-size: 150%;
}
#but:active {
background-color: #8f4368;
border-radius: 10px
}

.uper{

	display: grid;
	grid-template-areas: 
	". . now"
    "c t m"
    ". button .";
    grid-row-gap: 10px;
    grid-template-rows: 50px 300px 100px ;
    grid-template-columns: /*auto-fill,*/ minmax(250px, 1fr) 1fr minmax(250px, 1fr);
}

.Modal{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.8);
}
.content{
	background-color: #eeeeee;
	margin: 30% auto;
	padding: 20px;
	border:1px solid #888;
	width: 80%
}

.close{
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

#input{
	margin-left: auto;
}
/*------------------time-select--------------------------------------------------*/
.now{
	display: grid;
	grid-area: now;
	font-size: 120%;
	text-align: center;
	margin-top: 10px;
	justify-content: flex-end;
}
#logo{
	margin-left: 25px;
	display: none;
	
}

#chel2{
	grid-area: chell;
	height: 80%;
	width: 80%;
}

#chel2_label{
	grid-area: label;
}

#head{
	text-align: center;
	grid-area: head;
}

#rdate{
	grid-area: date;
	align-items: flex-start;
	margin-left: 30px;
	width: 300px;

}

.ok{
	grid-area: ok;
	align-items: flex-start;
	margin-left: auto;
	margin-right: auto;
}

#ok_btn{
	background-color: #a64d79;
	margin-left: 25px;
	color: white;
    font-size: 120%;
    border-color: black;
    border-style: inset;
}

#ok_btn:active{
	background-color: #8f4368;
}

#doc{
	display: none;
	font-size: 30px
}

#button{
	grid-area: btn;
	background-color: #a64d79;
	margin-left: 25px;
	color: white;
    font-size: 120%;
    border-color: black;
    border-style: inset;
}

#zapis_btn{
	margin-left: auto;
	margin-right: auto;
}

#button:active{
	background-color: #8f4368;
}

#time{
	grid-area: time;
	background-color: white;
	border-color: #a64d79;
	border-radius: 10px;
	border-style: groove;
	margin-right: 5px;
	margin-left: 5px;
	
}

.select{
	display: grid;
	grid-gap: 5px 25px;
	grid-template-rows: 50px 50px 50px 500px 50px;
	grid-template-areas: 
	"now now"
	"head head"
	"date ok"
	"time time"
	"btn btn"
}
@media (min-width: 640px){
	.select{
		grid-template-rows: 50px 50px 50px 350px 50px;
		grid-template-columns: 1fr 4fr;
		grid-template-areas: 
		"logo now"
		"head head"
		"date time"
		"ok time"
		"btn time"
		
	}
	#rdate{
		/*margin-left: 170px;*/
	}
	#time{
		margin-right: 25px;
	}
	#logo{
		display: grid;
		grid-area: logo;
		grid-template-areas: 
		"chell label"

	}
	
}
